@charset "utf-8";
* {
	padding: 0;
	margin: 0;
}

html {
	width: 1600px;
	margin: 0 auto
}

body {
	width: 1600px;
	margin: 0 auto;
	background-color: black;
}
/*바디에다가 배경을 넣을 생각. 검은색 배경에
  메이크업 제품들 넣어서.*/
ul {
	list-style: none;
}

a {
	text-decoration: none;
}

header {
	width: 1400px;
	margin: 0 auto;
	background-color: black;
}


/**/
/***
header #rog {
	clear: both;
	width: 1400px;
	margin: 0 auto;
	background-color: black;
}

header #rog ul {
	float: right;
	width: 250px;
	background-color: black;
}

header #rog ul li {
	float: left;
	display: block;
	width: 60px;
	height: 60px;
	margin: 5px 10px;
	background: black;
}

header #rog ul li a.rogg1 {
	display: block;
	width: 60px;
	height: 55px;
	color: white;
	text-align: center;
	border: 2px solid white;
	padding-top: 5px;
}

header #rog ul li a.rogg1 .riri1 {
	clear: both;
	width: 0px;
	height: 0px;
	margin-top: 20px;
	position: relative;
	left: -3px;
}

header #rog ul li:hover a.rogg1 .riri1 {
	clear: both;
	width: 250px;
	height: 230px;
	border: 2px solid white;
	margin-top: 30px;
	position: relative;
	left: -3px;
}

header #rog ul li a.rogg2 {
	display: block;
	width: 60px;
	height: 48px;
	color: white;
	text-align: center;
	border: 2px solid white;
	padding-top: 12px;
}

header #rog ul li a.rogg2 .riri2 {
	clear: both;
	width: 0px;
	height: 0px;
	margin-top: 20px;
	position: relative;
	left: -3px;
}

header #rog ul li:hover a.rogg2 .riri2 {
	clear: both;
	width: 500px;
	height: 230px;
	border: 2px solid white;
	margin-top: 30px;
	position: relative;
	left: -350px;
}

header #rog ul li a.rogg3 {
	display: block;
	width: 60px;
	height: 48px;
	color: white;
	text-align: center;
	border: 2px solid white;
	padding-top: 12px;
}

header #rog ul li a.rogg3 .riri3 {
	clear: both;
	width: 0px;
	height: 0px;
	margin-top: 20px;
	position: relative;
	left: 0px;
}

header #rog ul li:hover a.rogg3 .riri3 {
	float: left;
	clear: both;
	width: 450px;
	height: 60px;
	border: 2px solid white;
	margin-top: 30px;
	position: relative;
	left: -403px;
}
************/

/**/

header #arti {
	clear: both;
	width: 1400px;
	margin: 0 auto;
	background-color: black;
}

header #arti a {
	display: block;
	background-image: url(MAC%EB%A9%94%EC%9D%B8.jpg);
	background-repeat: no-repeat;
	width: 250px;
	height: 250px;
	margin: 0 auto;
	background-color: #fc7f7f;
}

header article a {
	background-color: #fc7f7f;
}

header nav {
	width: 1400px;
	margin: 0 auto;
	background-color: black;
}

header nav ul {
	display: block;
	width: 1400px;
	margin: 0 auto;
	list-style: none;
	background-color: red;
}

header nav ul li {
	display: block;
	width: 200px;
	margin: 0 auto;
	float: left;
	position: relative;
	padding-top: 5px;
	background-color: black;
}

header nav ul li a {
	display: block;
	width: 200px;
	color: white;
	text-align: center;
	padding: 10px 0px;
	border-bottom: solid 2px white;
	font-weight: bold;
}


/**********여기서부터*********/

header nav ul li a:hover {
	color:  #f5426c;
	background-color: #3d3d3d;
	border-bottom: solid 2px #f5426c;
}

header nav ul li a span {
	display: block;
	width: 200px;
	
	text-align: center;
	padding-top: 5px;
	opacity: 0;
	font-size: 0.5em;
}

header nav ul li:hover a span {
	display: block;
	width: 200px;
	text-align: center;
	opacity: 1;
	color: white;
}

header nav ul li div {
	position: relative;
	clear: both;
	width: 1400px;
	height: 0px;
	overflow: hidden;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

header nav ul li:hover div
/*li에 마우스를올리면 디아이브이가 이렇게 변해라*/

{
	width: 1400px;
	height: 75px;
	background-color: #fa5689;
	/**/
}

header nav ul li div ul {
	display: block;
	width: 1400px;
	position: relative;
	padding: 0px;
}

header nav ul li div ul li {
	display: block;
	width: 250px;
	height: 150px;
	position: relative;
	/*background-color:#fc7f7f;*/
	/***/
	background-color: #fa5689;
	/**/
}

header nav ul li div ul li a {
	clear: both;
	position: relative;
	display: block;
	text-align: center;
	border-bottom: solid 2px white;
	padding: 10px 20px;
	margin: 0px 5px;
	width: 200px;
	background-color:#fa5689;
	/**/
}

header nav ul li div ul li:hover > a {
	background-color: #fa5689;
	/**/
	border-bottom: solid 2px #ffb5b5;
	color: #ffb5b5;
}

header nav ul li #mm2 {
	position: relative;
	left: -200px;
}

header nav ul li #mm2 ul {
	position: relative;
	left: 70px;
}


/*************************************************/

header nav ul li #mm3 {
	clear: both;
	width: 1400px;
	height: 0px;
	position: relative;
	left: -400px;
	overflow: hidden;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

header nav ul li:hover #mm3
/*li에 마우스를올리면 디아이브이가 이렇게 변해라*/

{
	width: 1400px;
	height: 615px;
	background-color: #fa5689;
	/**/
}

header nav ul li #mm3 ul {
	position: relative;
	display: block;
	width: 1400px;
	height: 100px;
	background-color: #fa5689;
}

header nav ul li #mm3 ul .mm3-01
/*li*/

{
	display: block;
	float: left;
	width: 700px;
	height: 100px;
	background-color: #fa5689;
}

header nav ul li #mm3 ul .mm3-01 a
/*li*/

{
	display: block;
	float: left;
	width: 700px;
	height: 60px;
	background-color: #fa5689;
	border-bottom: solid 2px white;
	padding: 0;
	margin: 0;
}

header nav ul li #mm3 ul .mm3-01 a:hover {
	background-color: none;
	border-bottom: solid 2px #fa5689;
	background-color: #fa5689;
}

header nav ul li #mm3 ul .mm3-01 a span
/*li*/

{
	position: relative;
	width: 700px;
	top: 30%;
	background-color: #fa5689;
	padding: 0;
	margin: 0;
	font-size: 18px;
}

header nav ul li #mm3 ul .mm3-01 a:hover span {
	color: #ffb5b5;
	background-color: none;
}

header nav ul li #mm3 ul .mm3-01 #make {
	float: left;
	width: 700px;
	height: 550px;
	background-color: #252525;
	padding: 0;
	margin: 0;
}

header nav ul li #mm3 ul .mm3-01 #make ul {
	display: block;
	float: left;
	width: 175px;
	height: 550px;
	background-color: #252525;
	list-style: none;
	padding: 0;
	margin: 0;
}

header nav ul li #mm3 ul .mm3-01 #make ul li {
	display: block;
	clear: both;
	width: 175px;
	height: 50px;
	/*하나 li당 60px 꼴*/
	background-color: #252525;
	padding-top: 10px;
	margin: 0;
}

header nav ul li #mm3 ul .mm3-01 #make ul li a {
	float: left;
	display: block;
	clear: both;
	width: 175px;
	height: 50px;
	color: #7c797a;
	text-align: center;
	padding: 0;
	margin: 0;
	border-bottom: none;
	font-size: 14px;
	background-color: #252525;
}

header nav ul li #mm3 ul .mm3-01 #make ul li:hover a {
	color: white;
	background-color: #252525;
}

header nav ul li #mm3 ul .mm3-01 #make ul .bold a {
	font-weight: bolder;
	background-color: #252525;
	color: dimgrey;
	font-size: 16px;
}


/**/

header nav ul li #mm3 ul .mm3-02
/*li*/

{
	display: block;
	float: left;
	width: 175px;
	height: 100px;
	background-color: #fa5689;
}


/*
*/

header nav ul li #mm3 ul .mm3-02 a {
	display: block;
	float: left;
	width: 175px;
	height: 60px;
	background-color: #fa5689;
	border-bottom: solid 2px #bababa;
	padding: 0;
	margin: 0;
}

header nav ul li #mm3 ul .mm3-02 a:hover {
	background-color: none;
	border-bottom: solid 2px #fa5689;
}

header nav ul li #mm3 ul .mm3-02 a span
/*li*/

{
	position: relative;
	width: 175px;
	top: 30%;
	padding: 0;
	margin: 0;
	font-size: 18px;
}

header nav ul li #mm3 ul .mm3-02 a:hover span {
	color: #fdbebe;
	background-color: none;
}

header nav ul li #mm3 ul .mm3-02 #skin {
	float: left;
	width: 175px;
	height: 550px;
	background-color: #252525;
	padding: 0;
	margin: 0;
}

header nav ul li #mm3 ul .mm3-02 #skin ul {
	display: block;
	float: left;
	width: 175px;
	height: 550px;
	background-color: #252525;
	list-style: none;
	padding: 0;
	margin: 0;
}

header nav ul li #mm3 ul .mm3-02 #skin ul li {
	display: block;
	clear: both;
	width: 175px;
	height: 50px;
	/*하나 li당 60px 꼴*/
	background-color: #252525;
	padding-top: 10px;
	margin: 0;
}

header nav ul li #mm3 ul .mm3-02 #skin ul li a {
	float: left;
	display: block;
	clear: both;
	width: 175px;
	height: 50px;
	color: #7c797a;
	text-align: center;
	padding: 0;
	margin: 0;
	border-bottom: none;
	font-size: 14px;
	background-color: #252525;
}

header nav ul li #mm3 ul .mm3-02 #skin ul li:hover a {
	color: white;
}

header nav ul li #mm3 ul .mm3-02 #skin ul .bold a {
	font-weight: bolder;
	background-color: none;
	color: dimgrey;
	font-size: 16px;
}


/*여기서 부터 css 바꾸기 li id는 클래스로 div 안의 span 없애고!!!!!!! */

header nav ul li #mm3 ul .mm3-03
/*li*/

{
	display: block;
	float: left;
	width: 350px;
	height: 100px;
	background-color: #fa5689;
}

header nav ul li #mm3 ul .mm3-03 a
/*li*/

{
	display: block;
	float: left;
	width: 350px;
	height: 60px;
	background-color: #fa5689;
	border-bottom: solid 2px white;
	padding: 0;
	margin: 0;
}

header nav ul li #mm3 ul .mm3-03 a:hover {
	background-color: none;
	border-bottom: solid 2px #fa5689;
}

header nav ul li #mm3 ul .mm3-03 a span
/*li*/

{
	position: relative;
	width: 350px;
	top: 30%;
	padding: 0;
	margin: 0;
	font-size: 18px;
}

header nav ul li #mm3 ul .mm3-03 a:hover span {
	color: #fdbebe;
	background-color: none;
}

header nav ul li #mm3 ul .mm3-03 #brush {
	float: left;
	width: 350px;
	height: 550px;
	background-color: #252525;
	padding: 0;
	margin: 0;
}

header nav ul li #mm3 ul .mm3-03 #brush ul {
	display: block;
	float: left;
	width: 175px;
	height: 550px;
	background-color: #252525;
	list-style: none;
	padding: 0;
	margin: 0;
}

header nav ul li #mm3 ul .mm3-03 #brush ul li {
	display: block;
	clear: both;
	width: 175px;
	height: 50px;
	/*하나 li당 60px 꼴*/
	background-color: #252525;
	padding-top: 10px;
	margin: 0;
}

header nav ul li #mm3 ul .mm3-03 #brush ul li a {
	float: left;
	display: block;
	clear: both;
	width: 175px;
	height: 50px;
	color: #7c797a;
	text-align: center;
	padding: 0;
	margin: 0;
	border-bottom: none;
	font-size: 14px;
	background-color: #252525;
}

header nav ul li #mm3 ul .mm3-03 #brush ul li:hover a {
	color: white;
}

header nav ul li #mm3 ul .mm3-03 #brush ul .bold a {
	font-weight: bolder;
	background-color: none;
	color: dimgrey;
	font-size: 16px;
}


/**/


/**/

header nav ul li #mm3 ul .mm3-04
/*li*/

{
	display: block;
	float: left;
	width: 175px;
	height: 100px;
	background-color:#fa5689;
}

header nav ul li #mm3 ul .mm3-04 a
/*li*/

{
	display: block;
	float: left;
	width: 175px;
	height: 60px;
	background-color: #fa5689;
	border-bottom: solid 2px #bababa;
	padding: 0;
	margin: 0;
}

header nav ul li #mm3 ul .mm3-04 a:hover {
	background-color: none;
	border-bottom: solid 2px #fa5689;
}

header nav ul li #mm3 ul .mm3-04 a span
/*li*/

{
	position: relative;
	width: 175px;
	top: 30%;
	padding: 0;
	margin: 0;
	font-size: 18px;
}

header nav ul li #mm3 ul .mm3-04 a:hover span {
	color: #fdbebe;
	background-color: none;
}

header nav ul li #mm3 ul .mm3-04 #juyo {
	float: left;
	width: 175px;
	height: 550px;
	background-color: #252525;
	padding: 0;
	margin: 0;
}

header nav ul li #mm3 ul .mm3-04 #juyo ul {
	display: block;
	float: left;
	width: 175px;
	height: 550px;
	background-color: #252525;
	list-style: none;
	padding: 0;
	margin: 0;
}

header nav ul li #mm3 ul .mm3-04 #juyo ul li {
	display: block;
	clear: both;
	width: 175px;
	height: 50px;
	/*하나 li당 60px 꼴*/
	background-color: #252525;
	padding-top: 10px;
	margin: 0;
}

header nav ul li #mm3 ul .mm3-04 #juyo ul li a {
	float: left;
	display: block;
	clear: both;
	width: 175px;
	height: 50px;
	color: #7c797a;
	text-align: center;
	padding: 0;
	margin: 0;
	border-bottom: none;
	font-size: 14px;
	background-color: #252525;
}

header nav ul li #mm3 ul .mm3-04 #juyo ul li:hover a {
	color: white;
}

header nav ul li #mm3 ul .mm3-04 #juyo ul .bold a {
	font-weight: bolder;
	background-color: none;
	color: dimgrey;
	font-size: 16px;
}


/***/


/***/

header nav ul li #mm4 {
	position: relative;
	left: -600px;
}

header nav ul li #mm4 ul {
	position: relative;
	left: 80px;
}

header nav ul li #mm5 {
	position: relative;
	width: 500px;
	left: -167px;
	padding: 0px 50px;
}

header nav ul li #mm6 {
	position: relative;
	left: -1000px;
}


/****/


/****/

header nav ul li div ul li m-m {
	position: relative;
	width: 200px;
	height: 0px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}


/*li에 마우스를올리면 디아이브이가 이렇게 변해라*/

header nav ul li div ul li m-m:hover {
	width: 200px;
	height: 150px;
	background-color: yellowgreen;
}


/*******************여기까지************************************/

#banfix .clear {
	clear: both;
}


/*
#banfix .banner {
	
	position: relative;
	left: 0px;
	width: 1066px;
	height: 535px;
	margin: 0 auto;
	opacity: 1;
	
}

#banfix .banner:hover {
	opacity: 1;
	width: 1066px;
	height: 535px;
	visibility: visible; 

}
/*





.banner.bannerin {
	position: relative;
	left: 0px;
	width: 1066px;
	height: 535px;
	margin: 0 auto;
	opacity: 1;
	border: solid 1px blue; 
}


.banner.bannerin:hover {
	opacity: 0.5;
	width: 1066px;
	height: 535px;
	
		
		
	

}
*/
/*
#banfix .clear {
	clear: both;
}

#banfix #lipsten {
	clear: both;
	width: 1400px;
	height: 500px;
	margin: 20px auto;
	display: none;
}

#banfix #lipsten #lipsten-in {
	width: 1400px;
	height: 500px;
	margin: 0 auto;
}

#banfix #lipsten a.lip_1 {
	float: left;
	width: 1400px;
	height: 500px;
	margin: 0 auto;
	padding: 0;
	opacity: 1;
	background-position: left;
	background-image: url(LIPBIGH.png);
	background-repeat: no-repeat;
	background-size: 1400px;
	/*png바깥화면이 핑크여도 괜찮겠는데?핫핑크!
	overflow: hidden;
}

#banfix #lipsten a.lip_1 span {
	float: left;
	width: 1400px;
	height: 500px;
	margin: 0;
	padding: 0;
	opacity: 1;
	background-position: center;
	background-size: 1400px;
	overflow: hidden;
}

*/


/*************
#banfix #lipsten a.lip_3{
	display: block;
	clear: both;

	width: 1280px;
	height: 100px;
	margin:0 auto;
	padding:0;
	opacity: 1;
	background-color: #1f1e1e;
	overflow:visible;




}


#banfix #lipsten a.lip_3 span{

	clear: both;

	display: block;
	width: 1280px;
	height: 100px;
	margin:0 auto;
	padding:0;
	opacity: 1;
	
	background-image:url(%EB%A6%BD%EC%8A%A4%ED%8B%B1%EC%84%A4%EB%AA%85.png);
	background-size: 1000px;
	background-repeat: no-repeat;
	background-position: center;
	overflow:visible;

}





#banfix #lipsten a.lip_2{
	display: block;
	clear: both;
	
	width: 1280px;
	height: 200px;
	margin:0 auto;
	padding:0;
	opacity: 1;
	background-color: white;
	overflow:visible;
	
	


}


#banfix #lipsten a.lip_2 span{

	clear: both;
	
	display: block;
	width: 1200px;
	height: 200px;
	margin:0 auto;
	padding:0;
	opacity: 1;
	background-image:url(%EB%A6%BD%ED%85%90%EB%B0%9C%EC%83%89%EC%A0%84%EB%B6%80.png);
	background-repeat: no-repeat;
	overflow:visible;
	
}


*************/


/*
#banfix .banner {

position: relative;
left: 0px;
width: 1066px;
height: 535px;
margin: 0 auto;
opacity: 1;

}

#banfix .banner:hover {
opacity: 1;
width: 1066px;
height: 535px;
visibility: visible; 

}
*/

#fiix {
	position: fixed;
	width: 100px;
	height: 535px;
	
	top: 32%;
	left: 91%;
	opacity: 0.3;
	transition: all 0.8s;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	z-index: 11111;
	
	
}

#fiix:hover {
	opacity: 1;
}



#fiix #picIcon {
	clear: both;
	width: 100px;
	margin: 0 auto;
	
}

#fiix #picIcon ul {
	float: right;
	width: 100px;
	
}

#fiix #picIcon ul li {
	clear:both;
	display: block;
	width: 70px;
	height: 70px;
	margin: 5px 10px;
	background: black;
}

#fiix #picIcon ul li a.icon_1 {
	display: block;
	width: 70px;
	height: 60px;
	color: white;
	text-align: center;
	border: 2px solid white;
	padding-top: 10px;
}

#fiix #picIcon ul li a.icon_1 .ii_1 {
	float: left;
	width: 0px;
	height: 0px;
	margin-top: 20px;
	position: relative;
	
	transition: all 0.8s;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;

	}

#fiix #picIcon ul li:hover a.icon_1 .ii_1 {
	float: left;
	width: 250px;
	height: 230px;
	border: 2px solid white;
	margin-top: 40px;
	margin-bottom: 30px;
	position: relative;
	left: -193px;
	
}

#fiix #picIcon ul li a.icon_2{
	display: block;
	width: 70px;
	height: 53px;
	color: white;
	text-align: center;
	border: 2px solid white;
	padding-top: 17px;
	margin-top: 20px;
}

#fiix #picIcon ul li a.icon_2 .ii_2 {
	clear: both;
	width: 0px;
	height: 0px;
	margin-top: 20px;
	margin-bottom:20px;
	position: relative;
	
	transition: all 0.8s;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	
}

#fiix #picIcon ul li:hover a.icon_2 .ii_2 {
	clear: both;
	width: 500px;
	height: 230px;
	border: 2px solid white;
	
	position: relative;
	left: -530px;
	top:-65px;
}

#fiix #picIcon ul li a.icon_3{
	display: block;
	width: 70px;
	height: 53px;
	color: white;
	text-align: center;
	border: 2px solid white;
	padding-top: 17px;
	margin-top: 20px;
}

#fiix #picIcon ul li a.icon_3 .ii_3 {
	clear: both;
	width: 0px;
	height: 0px;
	margin-top: 20px;
	position: relative;
	left: 0px;
}

#fiix #picIcon ul li:hover a.icon_3 .ii_3 {
	float: left;
	clear: both;
	width: 450px;
	height: 60px;
	border: 2px solid white;
	margin-top: 30px;
	position: relative;
	left: -480px;
	top:-73px;
	
	transition: all 0.8s;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
}

/**/
#bf_1234 {
	clear: both;
	width: 1400px;
	height: 760px;
	background-color: black;
	/****/
	margin-top: 10px;
	margin-bottom: 165px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 100px;
	padding-left: 100px;
}

#bf_1234 .f1 {
	float: left;
	width: 380px;
	height: 760px;
	margin: 0;
	padding: 0;
	background-color: black;
}


/*


}
*/

#bf_1234 .f1 .f1-1 {
	display: block;
	float: left;
	width: 380px;
	height: 380px;
	margin: 0;
	padding: 0;
	background-image: url(%EC%8B%A0%EA%B3%A0%EC%B9%A84.png);
	background-repeat: no-repeat;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
}

#bf_1234 .f1 .f1-1 span {
	display: block;
	width: 380px;
	height: 0px;
	padding: 0;
	visibility: hidden;
	color: white;
}

#bf_1234 .f1 .f1-1 .textjarang {
	width: 250px;
	height: 250px;
	padding: 0;
	color: white;
	text-align: center;
	position: relative;
	left: 18%;
	top: 25%;
}

#bf_1234 .f1 .f1-1 span h2 {
	color: white;
	font-size: 30px;
}

#bf_1234 .f1 .f1-1 span p {
	position: relative;
	color: white;
	font-size: 15px;
}

#bf_1234 .f1 .f1-1:hover {
	z-index: 1;
	border-radius: 50%;
}

#bf_1234 .f1 .f1-1:hover span {
	width: 380px;
	height: 380px;
	background-color: rgba(225, 225, 225, 0.5);
	visibility: visible;
	z-index: 1;
	border-radius: 50%;
	/*회전(몇deg)*/
}
/******************밑에서 쫘라락 나왔으며면 ㅠㅠㅠㅠㅠㅠㅠㅠㅠㅠ****************************************

#bf_1234 .f4 .f4-1 {
	clear:both;
	width:0px;
	height:380px;
	float:left;
	background-color:aquamarine;
	background-repeat: no-repeat;
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	position:relative;
	left:-380px;
	top:-380px;
	z-index: 20000;
	
}

#bf_1234 .f1 a.f1-1:hover .f4 a.f4-1 {
	
	width:1400px;
	height:380px;
	float:left;
	background-image: url(%EB%A6%BD%ED%85%90%EB%B0%9C%EC%83%89%EC%A0%84%EB%B6%80.png);
	background-size: 1400px;
	background-repeat: no-repeat;
	z-index: 20000;
	visibility: visible;
}
***************************************************/

/***/

#bf_1234 .f1 .f1-2 {
	display: block;
	float: left;
	width: 380px;
	height: 380px;
	margin: 0;
	padding: 0;
	background-image: url(%EC%8B%A0%EA%B3%A0%EC%B9%A81.png);
	background-repeat: no-repeat;
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	border-radius: 0;
}

#bf_1234 .f1 .f1-2 span {
	display: block;
	width: 380px;
	height: 0px;
	padding: 0;
	visibility: hidden;
	color: white;
	border-radius: 0;
}

#bf_1234 .f1 .f1-2 .textjarang {
	width: 250px;
	height: 250px;
	padding: 0;
	color: white;
	text-align: center;
	position: relative;
	left: 18%;
	top: 23%;
}

#bf_1234 .f1 .f1-2 span h2 {
	color: white;
	font-size: 30px;
}

#bf_1234 .f1 .f1-2 span p {
	position: relative;
	color: white;
	font-size: 15px;
}

#bf_1234 .f1 .f1-2:hover {
	width: 380px;
	height: 380px;
	border-radius: 50%;
}

#bf_1234 .f1 .f1-2:hover span {
	width: 380px;
	height: 380px;
	background-color: rgba(0, 0, 0, 0.5);
	visibility: visible;
	border-radius: 0%;
}


/***/


/*


*/

#bf_1234 .f2 {
	display: block;
	float: left;
	width: 1020px;
	height: 380px;
	margin: 0;
	padding: 0;
}

#bf_1234 .f2 .f2-1 {
	float: left;
	width: 1020px;
	height: 380px;
	margin: 0;
	padding: 0;
	opacity: 1;
	background-image: url(LIPSDA2.png);
	background-repeat: no-repeat;
	overflow: hidden;
}

#bf_1234 .f2 .f2-1 span {
	float: left;
	width: 1020px;
	height: 380px;
	margin: 0;
	padding: 0;
	opacity: 1;
	overflow: hidden;
}

#bf_1234 .f3 {
	float: left;
	width: 1020px;
	height: 380px;
	margin: 0;
	padding: 0;
	background-color: black;
}

#bf_1234 .f3 .f3-1 {
	display: block;
	float: left;
	width: 380px;
	height: 380px;
	margin: 0;
	padding: 0;
	background-image: url(%EC%8B%A0%EA%B3%A0%EC%B9%A82.png);
	background-repeat: no-repeat;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
}

#bf_1234 .f3 .f3-1 span {
	display: block;
	width: 380px;
	height: 0px;
	padding: 0;
	visibility: hidden;
	color: white;
}

#bf_1234 .f3 .f3-1 .textjarang {
	width: 250px;
	height: 250px;
	padding: 0;
	color: white;
	text-align: center;
	position: relative;
	left: 18%;
	top: 25%;
}

#bf_1234 .f3 .f3-1 span h2 {
	color: white;
	font-size: 30px;
}

#bf_1234 .f3 .f3-1 span p {
	position: relative;
	color: white;
	font-size: 15px;
}

#bf_1234 .f3 .f3-1:hover {
	width: 380px;
	height: 380px;
	border-radius: 50%;
}

#bf_1234 .f3 .f3-1:hover span {
	width: 380px;
	height: 380px;
	background-color: rgba(0, 0, 0, 0.5);
	visibility: visible;
	border-radius: 0%;
}


/**/

#bf_1234 .f3 .f3-2 {
	display: block;
	float: left;
	width: 260px;
	height: 380px;
	margin: 0;
	padding: 0;
	background-image: url(%EC%99%93%EB%89%B4%EA%B8%80%EC%82%AC%EB%B0%B0%EC%A7%84%ED%9A%8C.png);
	background-repeat: no-repeat;
}

#bf_1234 .f3 .f3-2 span {
	display: block;
	width: 380px;
	height: 0px;
	padding: 0;
	visibility: hidden;
	color: white;
}

#bf_1234 .f3 .f3-2 span h4 {
	position: relative;
	top: 30%;
	left: 30%;
	color: white;
}

#bf_1234 .f3 .f3-2 span p {
	position: relative;
	top: 45%;
	left: 30%;
	color: white;
}

#bf_1234 .f3 .f3-2:hover {}


/*
#bf_1234 .f3 .f3-2:hover span{
width: 380px;
height: 380px;

background-color:rgba(0,0,0,0.5);
visibility:visible;



}
*/

#bf_1234 .f3 .f3-3 {
	display: block;
	float: left;
	width: 380px;
	height: 380px;
	margin: 0;
	padding: 0;
	background-image: url(eye%EA%B9%9C%EB%B9%A1.gif);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 495px;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
}

#bf_1234 .f3 .f3-3 span {
	display: block;
	width: 380px;
	height: 0px;
	padding: 0;
	visibility: hidden;
	color: white;
}

#bf_1234 .f3 .f3-3 .textjarang {
	width: 250px;
	height: 250px;
	padding: 0;
	color: white;
	text-align: center;
	position: relative;
	left: 18%;
	top: 25%;
}

#bf_1234 .f3 .f3-3 span h2 {
	color: white;
	font-size: 30px;
}

#bf_1234 .f3 .f3-3 span p {
	position: relative;
	color: white;
	font-size: 15px;
}

#bf_1234 .f3 .f3-3:hover {
	width: 380px;
	height: 380px;
	border-radius: 50%;
}

#bf_1234 .f3 .f3-3:hover span {
	width: 380px;
	height: 380px;
	background-color: rgba(0, 0, 0, 0.5);
	visibility: visible;
	border-radius: 0%;
}


/**/

#a1234 {
	clear: both;
	width: 1400px;
	height: 600px;
	background-color: black;
	margin: 0 auto;
	padding: 0;
}
/*
#a1234 #h_dudtkd {
	position: relative;
	left: 0px;
	width: 1400px;
	height: 350px;
	margin: 0 auto;
	opacity: 1;
	padding: 0;
	overflow: hidden;
}

#a1234 #h_dudtkd: {
	opacity: 0.5;
}
*/


/*
.banner.bannerin {
position: relative;
left: 0px;
width: 1066px;
height: 535px;
margin: 0 auto;
opacity: 1;
border: solid 1px blue; 
}


.banner.bannerin:hover {
opacity: 0.5;
width: 1066px;
height: 535px;





}
*/

#h_rhkdrh {
	clear: both;
	float: left;
	width: 1400px;
	height: 600px;
	margin-top: 0;
	margin-bottom: 100px;
	padding: 0;
	background-color: #721c44;
}

#h_rhkdrh .left-h {
	float: left;
	width: 950px;
	height: 600px;
	margin: 0;
	padding: 0;
}

#h_rhkdrh .left-h .l1 {
	display: block;
	width: 950px;
	height: 150px;
	margin: 0;
	padding: 0;
	background-color: #fa5689;
}

#h_rhkdrh .left-h .l1 span {
	font-size: 50px;
	font-weight: bold;
	color: white;
	position: relative;
	top: 22%;
	left: 7%;
}

#h_rhkdrh .left-h .l1 .ziz {
	font-size: 12px;
	font-weight: normal;
	color: white;
	position: relative;
	top: 8%;
	left: 7%;
	padding: 0;
	margin: 0;
}

#h_rhkdrh .left-h .l2 {
	display: block;
	width: 950px;
	height: 450px;
	margin: 0;
	padding: 0;
	background-image: url($%EB%A7%A5%EC%83%88%EB%A1%9C%EC%9A%B4%EC%BB%AC%EB%A0%89%EC%85%98.png);
	background-repeat: no-repeat;
}

#h_rhkdrh .right-h {
	float: left;
	width: 450px;
	height: 600px;
	margin: 0;
	padding: 0;
}

#h_rhkdrh .right-h .r1 {
	display: block;
	width: 450px;
	height: 350px;
	margin: 0;
	padding: 0;
	background-image: url(%EC%A7%84%EC%A7%9C3.png);
	background-repeat: no-repeat;
}

#h_rhkdrh .right-h .r2 {
	display: block;
	width: 450px;
	height: 250px;
	margin: 0;
	padding: 0;
	background-image: url($%EC%84%B8%EB%A1%9C%EB%A1%9C.png);
	background-repeat: no-repeat;
}

#h_rhkdrh .right-h .r2 span {
	display: block;
	width: 200px;
	height: 30px;
	margin: 0;
	padding: 25px 25px;
	border: solid 4px white;
	color: white;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	position: relative;
	top: 27%;
	left: 23%;
	background-color: none;
}


/*************************************************************/


/***********************************/

#b1234 {
	clear: both;
	width: 1400px;
	height: 350px;
	background-color: black;
	margin: 50px auto;
	padding: 50px 100px;
}

#tls1 a {
	float: left;
	background-image: url(%EC%8B%A01.PNG);
	background-repeat: no-repeat;
	display: block;
	width: 350px;
	height: 350px;
	color: rgba(0, 0, 0, 0)
}

#tls2 a {
	float: left;
	background-image: url(%EC%8B%A02.PNG);
	background-repeat: no-repeat;
	display: block;
	width: 350px;
	height: 350px;
	color: rgba(0, 0, 0, 0)
}

#tls3 a {
	float: left;
	background-image: url(%EC%8B%A03.PNG);
	background-repeat: no-repeat;
	display: block;
	width: 350px;
	height: 350px;
	color: rgba(0, 0, 0, 0)
}

#tls4 a {
	float: left;
	background-image: url(%EC%8B%A04.PNG);
	background-repeat: no-repeat;
	display: block;
	width: 350px;
	height: 350px;
	color: rgba(0, 0, 0, 0)
}

#tls1 a span,
#tls2 a span,
#tls3 a span,
#tls4 a span {
	display: block;
	width: 350px;
	height: 0px;
	background-color: rgba(0, 0, 0, 0.5);
}

#tls1 a span:hover,
#tls2 a span:hover,
#tls3 a span:hover,
#tls4 a span:hover {
	width: 350px;
	height: 350px;
}

#tls1 a span h4,
#tls2 a span h4,
#tls3 a span h4,
#tls4 a span h4 {
	position: relative;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	color: rgba(0, 0, 0, 0);
	transition: all 0.8s;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
}

#tls1 a span:hover > h4 {
	color: white;
}

#tls2 a span:hover > h4 {
	color: white;
}

#tls3 a span:hover > h4 {
	color: white;
}

#tls4 a span:hover > h4 {
	color: white;
}

#tls1 a span p,
#tls2 a span p,
#tls3 a span p,
#tls4 a span p {
	position: relative;
	font-weight: bold;
	font-size: 15px;
	text-align: center;
	color: rgba(0, 0, 0, 0);
	padding: 20px 10px;
	transition: all 0.8s;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
}

#tls1 a span:hover > p {
	color: white;
}

#tls2 a span:hover > p {
	color: white;
}

#tls3 a span:hover > p {
	color: white;
}

#tls4 a span:hover > p {
	color: white;
}


/**********************/
#attt-i {
	position: relative;
	clear: both;
	width: 1400px;
	height: 400px;
	margin: 100px auto;
	background-color: black;
}

#shopfix {
	clear: both;
	width: 1400px;
	height: 400px;
	margin: 165px auto;
	padding: 0;
	border: solid 0px red;
	background-image: url(MACLIH.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: 1400px;
}

/***********************/

#aariri {
	clear: both;
	width: 1416px;
	height: 439px;
	background-color: black;
	margin: 0 auto;
	padding: 0;
	
}

#ari_be {
	float: left;
	width: 225px;
	height: 439px;
	background-image: url(ai2.png);
	background-repeat: no-repeat;
	opacity: 0.8;
	margin: 0px;
	padding: 0;
	border-radius: 30px;
	overflow: hidden;
}

#ari_be:hover {
	float: left;
	width: 225px;
	height: 439px;
	background-image: url(ai1.png);
	background-repeat: no-repeat;
	opacity: 0.8;
	margin: 0px;
	padding: 0;
	border-radius: 30px;
	overflow: hidden;
}

#ari {
	float: left;
	width: 950px;
	height: 439px;
	background-color: black;
	margin: 0px;
	padding: 0 8px;
	border-radius: 30px;
	overflow: hidden;
}

#ari a {
	display: block;
	width: 950px;
	height: 439px;
	background-image: url(%EA%B7%B8%EB%9E%80%EB%8D%B0%EB%89%B4.PNG);
	background-repeat: no-repeat;
	border-radius: 30px;
	overflow: hidden;
}

#ari a span {
	display: block;
	width: 950px;
	height: 439px;
	transition: all 0.8s;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	opacity: 0;
	border-radius: 30px;
	overflow: hidden;
}

#ari a span:hover {
	background-image: url(%EA%B7%B8%EB%9E%80%EB%8D%B0%EB%89%B422.PNG);
	background-repeat: no-repeat;
	background-color: rgba(0, 0, 0, 0.5);
	overflow: hidden;
	opacity: 1;
	width: 950px;
	height: 439px;
	border-radius: 30px;
}

#ariknow {
	position: relative;
	top: 50px;
	left: 50px;
	width: 350px;
	height: 70px;
}

#ariknow h3 {
	font-weight: bold;
	font-size: 50px;
	color: rgba(250, 250, 250, 1);
	text-align: center;
	transition: all 0.8s;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
}

#ari a span:hover>#arikonw h3 {
	color: white;
}

#ariandknow {
	position: relative;
	top: 70px;
	left: 50px;
	width: 350px;
	height: 100px;
}

#ariandknow p {
	font-weight: bold;
	font-size: 15px;
	color: rgba(0, 0, 0, 0);
	text-align: center;
	transition: all 0.8s;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
}

#ari a span:hover > #ariandknow p {
	color: white;
}

#ari_af {
	float: left;
	width: 225px;
	height: 439px;
	background-image: url(ai4.png);
	background-repeat: no-repeat;
	opacity: 0.8;
	margin: 0px;
	padding: 0;
	border-radius: 30px;
	overflow: hidden;
}

#ari_af:hover {
	float: left;
	width: 225px;
	height: 439px;
	background-image: url(ai3.png);
	background-repeat: no-repeat;
	opacity: 0.8;
	margin: 0px;
	padding: 0;
	border-radius: 30px;
	overflow: hidden;
}


/********/

.clear {
	clear: both;
}


/*
#skek{
	
	width: 1120px;
	height: 630px;
	margin:0 auto;
}
*/

#bottommake {
	clear: both;
	width: 1380px;
	height: 480px;
	margin: 100px auto;
	padding: 20px 20px;
	background-image: url(makereal.png);
	background-repeat: no-repeat;
}

#bottommake .macsm {
	width: 400px;
	height: 200px;
	background-image: url(MACM-LOGO.png);
	background-repeat: no-repeat;
	margin: 0 auto;
	padding: 0;
}

#bottommake a.click {
	display: inline-block;
	width: 200px;
	height: 50px;
	color: white;
	margin: 100px auto;
	padding-top: 10px;
	border: 3px solid white;
	position: relative;
	top: 50%;
	left: 42%;
	text-align: center;
}

#bottommake a.click span {
	color: white;
	font-size: 20px;
}



#bottomMenu {
	clear: both;
	width: 1600px;
	height: 320px;
	background-color: darkgrey;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 0;
	margin-left: 0;
}


/**/

#bottomMenu .a9-1 {
	clear: both;
	float: left;
	width: 200px;
	height: 300px;
	padding: 0px;
	margin-top: 20px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: 80px;
}

#bottomMenu .a9-1 h3 {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	color: #FFF;
	font-size: 18px;
}

#bottomMenu .a9-1 div {
	float: left;
	width: 200px;
	height: 180px;
	padding: 0px;
	margin-top: 30px;
	margin-bottom: 10px;
}

#bottomMenu .a9-1 div ul {
	width: 100px;
	height: 180px;
	padding: 0px;
	margin: 10px auto;
}

#bottomMenu .a9-1 div ul li {
	list-style: none;
	font-size: 80%;
	padding: 0px;
	margin: 0px;
}

#bottomMenu .a9-1 div ul li a {
	padding: 0px;
	margin: 0px;
	color: #FFF;
	text-decoration: none;
}


/**/


/**/

#bottomMenu .a9-2 {
	float: left;
	width: 200px;
	height: 300px;
	padding: 0px;
	margin-top: 20px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: 10px;
}

#bottomMenu .a9-2 h3 {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	color: #FFF;
	font-size: 18px;
}

#bottomMenu .a9-2 div {
	float: left;
	width: 200px;
	height: 180px;
	padding: 0px;
	margin-top: 30px;
	margin-bottom: 10px;
}

#bottomMenu .a9-2 div ul {
	width: 100px;
	height: 180px;
	padding: 0px;
	margin: 10px auto;
}

#bottomMenu .a9-2 div ul li {
	list-style: none;
	font-size: 80%;
	padding: 0px;
	margin: 0px;
}

#bottomMenu .a9-2 div ul li a {
	padding: 0px;
	margin: 0px;
	color: #FFF;
	text-decoration: none;
}


/**/


/**/

#bottomMenu .a9-3 {
	float: left;
	width: 200px;
	height: 300px;
	padding: 0px;
	margin-top: 20px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: 10px;
}

#bottomMenu .a9-3 h3 {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	color: #FFF;
	font-size: 18px;
}

#bottomMenu .a9-3 div {
	float: left;
	width: 200px;
	height: 180px;
	padding: 0px;
	margin-top: 30px;
	margin-bottom: 10px;
}

#bottomMenu .a9-3 div ul {
	width: 100px;
	height: 180px;
	padding: 0px;
	margin: 10px auto;
}

#bottomMenu .a9-3 div ul li {
	list-style: none;
	font-size: 80%;
	padding: 0px;
	margin: 0px;
}

#bottomMenu .a9-3 div ul li a {
	padding: 0px;
	margin: 0px;
	color: #FFF;
	text-decoration: none;
}


/**/


/**/

#bottomMenu .a9-4 {
	float: left;
	width: 200px;
	height: 300px;
	padding: 0px;
	margin-top: 20px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: 10px;
}

#bottomMenu .a9-4 h3 {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	color: #FFF;
	font-size: 18px;
}

#bottomMenu .a9-4 div {
	float: left;
	width: 200px;
	height: 180px;
	padding: 0px;
	margin-top: 30px;
	margin-bottom: 10px;
}

#bottomMenu .a9-4 div ul {
	width: 140px;
	height: 180px;
	padding: 0px;
	margin: 10px auto;
}

#bottomMenu .a9-4 div ul li {
	list-style: none;
	font-size: 80%;
	padding: 0px;
	margin: 0px;
}

#bottomMenu .a9-4 div ul li a {
	padding: 0px;
	margin: 0px;
	color: #FFF;
	text-decoration: none;
}


/**/

section.clear {
	clear: both;
}


/**/

#bottomMenu .a9-5 {
	float: left;
	width: 600px;
	height: 300px;
	padding: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 0px;
	margin-left: 10px;
}

#bottomMenu .a9-5 div {
	float: left;
	width: 600px;
	height: 180px;
	padding: 0px;
	margin-top: 30px;
	margin-bottom: 10px;
}

#bottomMenu .a9-5 div .macstorelast {
	display: block;
	width: 500px;
	height: 200px;
	padding: 0;
	margin: 0 auto;
	position: relative;
	top: -20px;
	left: 80px;
	background-image: url(meajang.png);
	background-repeat: no-repeat;
}

#bottomMenu .a9-5 div ul {
	width: 480px;
	height: 50px;
	padding: 0px;
	margin: 0px auto;
	position: relative;
	left: 80px;
}

#bottomMenu .a9-5 div ul li {
	float: left;
	list-style: none;
	font-size: 80%;
	padding: 0px;
	margin: 0 10px;
}

#bottomMenu .a9-5 div ul li a {
	display: block;
	width: 60px;
	height: 60px;
	color: white;
}

#bottomMenu .a9-5 div ul li span {
	padding: 0px;
	margin: 0px;
	color: #FFF;
	text-decoration: none;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}


/**/


/**/

#seoul-10 {
	clear: both;
	width: 1225px;
	height: 180px;
	padding: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: auto;
	margin-left: auto;
	background-color: black;
}

#Rimg1 {
	float: left;
	width: 150px;
	height: 120px;
	padding: 0px;
	margin-top: 10px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: 10px;
}

#Rimg1 a {
	float: left;
	display: block;
	width: 150px;
	height: 120px;
	padding: 0px;
	margin-top: 10px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: 10px;
}

#Rimg1 a span {}


/************/

#r1 {
	float: left;
	width: 1000px;
	height: 120px;
	padding: 0px;
	margin-top: 20px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: 50px;
	background-color: black;
}

#r1 nav {
	float: left;
	width: 1000px;
	height: 30px;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: 0px;
}

#r1 nav ul {
	float: left;
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
}

#r1 nav ul li {
	list-style: none;
	float: left;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: 5px;
	padding-top: 20px;
	padding-bottom: 10px;
	padding-right: 0px;
	padding-left: 0px;
}

#r1 nav ul li a {
	text-decoration: none;
	color: white;
	font-size: 90%;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-left: 5px;
	border-left: solid 3px #888;
}

#r1 nav ul li.f0oter {
	color: white;
}


/******/

footer {
	float: left;
	width: 800px;
	height: 100px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-left: 0px;
	margin-top: 10px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: 10px;
}

footer p {
	position: relative;
	top: 20px;
	width: 1000px;
	display: inline-block;
	float: left;
	color: #888;
	font-size: 90%;
	line-height: 0.3px;
}


/**
#Rimg2 {
float: left;
width: 350px;
height: 100px;
padding-top: 0px;
padding-bottom: 0px;
padding-right: 0px;
padding-left: 0px;
margin-top: 10px;
margin-bottom: 0px;
margin-right: 0px;
margin-left: 30px;
}

#Rimg2 ul {
list-style: none;
float: left;
width: 350px;
height: 100px;
padding: 0px;
margin: 0px;
}

#Rimg2 ul li {
float: left;
}

#Rimg2 ul li a {
float: left;
display: block;
background-image: url("http://placehold.it/80x50");
background-repeat: no-repeat;
width: 80px;
height: 50px;
padding: 0px;
margin-top: 10px;
margin-bottom: 0px;
margin-right: 0px;
margin-left: 10px;
}

#Rimg2 ul li a span {
display: none;
}

#Rimg2 ul .jak {
float: left;
}

#Rimg2 ul .jak a {
float: left;
display: block;
background-image: url("http://placehold.it/50x50");
background-repeat: no-repeat;
width: 50px;
height: 50px;
padding: 0px;
margin-top: 10px;
margin-bottom: 0px;
margin-right: 0px;
margin-left: 5px;
}

#Rimg2 ul .jak a span {
display: none;
}
*/